*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    
}

body{
    background-color: #ccc;
}

.container{
    max-width: 900px; 
    margin: 0 auto;

}
.apply.box{
    max-width:600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1,1,1.0,1);
    border-radius: 10px;
}
.title_small{
    font-size: 20px; 
}
.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr ));
}
.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px

}
label{
    font-size: 15px;
    margin-bottom: 5px;

}
input, 
select,
textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    font-size: 15px;

}
input:focus{
   outline-color: red; 
}
.button_conatiner{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
button{
    background-color: red;
    border: solid 2px;
    padding:5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;  
}

button:hover{
  background-color: grey;
  border: 2px solid red;
  color: black;
  transition: 0.3s ease-in; 
  cursor: pointer; 
}
.textarea_control{
    grid: column 1px /spam 2; 
}
.textarea_control textarea{
    width: 100px;
}
@media(max-width:460px){
    .textarea_control{
        grid-coloum:1/span 2;
    }
};




